﻿

<p *ngIf="!users"><em>Loading...</em></p>
<h2>Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)"
      [@flyInOut]>
    <span class="badge">{{user.id}}</span> {{user.name}}
  </li>
</ul>

<div>
  <label>User name:</label> <input #userName />
  <button class="btn btn-default" (click)="addUser(userName.value); userName.value=''">
    Add
  </button>
</div>
