﻿<div *ngIf="user">
  <h2>{{user.name}} details:</h2>
  <div>
    <label>Name: {{user?.name}}</label><br/>
    <ngu-letter-avatar *ngIf="!user.image&&!edit" avatar-data='{{user.name}}' avatar-height = 200px avatar-width = 200px></ngu-letter-avatar> 
    <img *ngIf="user.image&&!edit" width=200px height=200px [src]='user.image'/>
    <div *ngIf="edit" class="pull-left">
          <div class="file-upload">
              <span class="glyphicon glyphicon-open"></span>
              <input type="file" (change)="fileChangeListener($event)">
          </div>
        <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
        <br>
        <span *ngIf="data2.image" >
            <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
        </span>
    </div>
  </div>
  <br/>
  <button class="btn btn-warning" (click)="onDelete(user)">Delete</button>
  <button class="btn btn-primary" (click)="onEdit()">Edit</button>
  <button class="btn btn-success" (click)="updateUser(user)">Save</button>
</div>